body {
    background: pink;
    margin-left: 100px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h2 {
    color: red;
    font-family: fantasy;
}

p {
    font-size: 18px;
}

image {
    margin-bottom: 20px;
}

footer {
    margin-bottom: 30px;
}

.logo {
    margin-bottom: 20px;
}